{{- if eq .Values.controllerType "Deployment" }}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: deploy-{{ include "base-chart.name" . }}
  namespace: {{ if eq .Values.app.env "testing" }}testing{{ else }}{{ .Values.app.id }}-{{ .Values.app.name }}{{ end }}
  labels:
    {{- include "base-chart.labels" . | nindent 4 }}
    {{- if .Values.backup }}
    {{- if .Values.backup.enabled }}
    backup-type: {{ .Values.backup.type | quote }}
    {{- end }}
    {{- end }}
spec:
  replicas: {{ .Values.replicaCount | default 1 }}
  selector:
    matchLabels:
      app.kubernetes.io/id: {{ .Values.app.id | quote }}
  template:
    metadata:
      labels:
        {{- include "base-chart.labels" . | nindent 8 }}
        {{- if .Values.backup }}
        {{- if .Values.backup.enabled }}
        backup-type: {{ .Values.backup.type | quote }}
        {{- end }}
        {{- end }}
    spec:
      containers:
        - name: main
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          envFrom:
            - secretRef:
                name: secret-{{ include "base-chart.name" . }}

{{- end }}