apiVersion: v1
kind: ConfigMap
metadata:
  name: cmp-plugin
data:
  plugin.yaml: |
    apiVersion: argoproj.io/v1alpha1
    kind: ConfigManagementPlugin
    metadata:
      name: helm-secrets
    spec:
      allowConcurrency: true
      discover:
        # Ini penting agar ArgoCD tahu kapan menggunakan plugin ini
        fileName: "values.yaml"
      generate:
        command: ["/bin/sh", "-c"]
        # Tambahkan export PATH dan HELM_PLUGINS di dalam command generate juga
        args: ["export PATH=$PATH:/custom-tools && export HELM_PLUGINS=/custom-tools/helm-plugins && helm secrets template . -f $HELM_VALUES"]
      lockRepo: false