apiVersion: v1
kind: ConfigMap
metadata:
  name: cmp-plugin
data:
  plugin.yaml: |
    apiVersion: argoproj.io/v1alpha1
    kind: ConfigManagementPlugin
    metadata:
      name: helm-secrets
    spec:
      allowConcurrency: true
      discover:
        find:
          command: ["sh", "-c", "echo 'ok'"]
      generate:
        command: ["/bin/sh", "-c"]
        args:
          - |
            export PATH=$PATH:/custom-tools
            export HELM_PLUGINS=/custom-tools/helm-plugins
            
            # ArgoCD custom env vars are prefixed with ARGOCD_ENV_
            # We check both HELM_VALUES and ARGOCD_ENV_HELM_VALUES
            VALS_FILE=${ARGOCD_ENV_HELM_VALUES:-$HELM_VALUES}
            
            echo "DEBUG: HELM_VALUES is '$HELM_VALUES'" >&2
            echo "DEBUG: ARGOCD_ENV_HELM_VALUES is '$ARGOCD_ENV_HELM_VALUES'" >&2
            echo "DEBUG: Final VALS_FILE is '$VALS_FILE'" >&2
            
            if [ -z "$VALS_FILE" ]; then
              echo "ERROR: HELM_VALUES is not set!" >&2
              env | grep ARGOCD >&2
              exit 1
            fi
            
            helm secrets decrypt "$VALS_FILE" > values.dec.yaml
            if [ $? -ne 0 ]; then
               echo "ERROR: Decryption failed" >&2
               exit 1
            fi
            
            helm template . -f values.dec.yaml
      lockRepo: false