apiVersion: v1
kind: ConfigMap
metadata:
  name: cmp-plugin
  namespace: cicd
data:
  plugin.yaml: |
    apiVersion: argoproj.io/v1alpha1
    kind: ConfigManagementPlugin
    metadata:
      name: helm-secrets
    spec:
      allowConcurrency: true
      discover:
        find:
          command:
            - sh
            - "-c"
            - "find . -name 'values.yaml' -o -name 'values.enc.yaml' -o -name 'secrets.yaml'"
      generate:
        command:
          - sh
          - "-c"
          - |
            # Helper to decrypt secrets if needed
            helm secrets template . -f $HELM_VALUES
      lockRepo: false
