apiVersion: v1
kind: ConfigMap
metadata:
  name: cmp-plugin
data:
  plugin.yaml: |
    apiVersion: argoproj.io/v1alpha1
    kind: ConfigManagementPlugin
    metadata:
      name: helm-secrets
    spec:
      allowConcurrency: true
      generate:
        command: ["/bin/sh", "-c"]
        args: ["helm secrets template . -f $HELM_VALUES"]
      lockRepo: false
