apiVersion: v1
kind: ConfigMap
metadata:
  name: cmp-plugin
data:
  plugin.yaml: |
    apiVersion: argoproj.io/v1alpha1
    kind: ConfigManagementPlugin
    metadata:
      name: helm-secrets
    spec:
      allowConcurrency: true
      # CHANGE: Use a command that always succeeds to force-enable the plugin
      discover:
        find:
          command: ["sh", "-c", "echo 'ok'"]
      generate:
        command: ["/bin/sh", "-c"]
        args: ["export PATH=$PATH:/custom-tools && export HELM_PLUGINS=/custom-tools/helm-plugins && helm secrets template . -f $HELM_VALUES"]
      lockRepo: false
